/**, *:after, *:before {
  background-color: #ffdab9;
  font-family: Arial;
}*/

body {
  font-family: Arial;
}

.container {
  width: 600px;
  margin: auto;
}

.grid {
  width: 600px;
  height: 600px;
  max-height: 100%;
  position: relative;
  text-align: center;
  background-color: #000;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.start {
  margin-top: 20%;
  position: relative;
  display: inline-block;
  width: 45%;
}

.top {
  font-size: 30px;
  padding-bottom: 10px;
}

.score {
  font-weight: 600;
}

.btn {
  display: none;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  color: #000;
  cursor: pointer;
  font-size: 40px;
  background: linear-gradient(167.13deg, #FABF4D -3.31%, #F583B4 28.13%, #87A3FF 62.1%, #65DACB 94.05%);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin: 20px 0px;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.btn:hover {
  background: linear-gradient(167.13deg, #FABF4D -3.31%, #F583B4 28.13%, #87A3FF 62.1%, #65DACB 94.05%);
/*  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;*/
}

.new, .msg {
  margin-top: 30%;
}

.level {
  margin: 20px 25px;
}

.snake.head {
  width: 50px;
  height: 50px;
  background: url(images/smile_head.png) no-repeat;
  background-size: 100%;
  position: absolute;
}

.snake {
  width: 50px;
  height: 50px;
  background: url(images/smile_body.png) no-repeat;
  background-size: 100%;
  position: absolute;
}

.food {
  width: 50px;
  height: 50px;
  background: url(images/heart.png) no-repeat;
  background-size: 100%;
  position: absolute;
}

